{% extends "base.html" %}

{% block content %}
<h3 align="center">Departments</h3> <br/>
{% if current_user.is_authenticated %}
    <a href="add_dep" class="btn btn-secondary">Add a Department</a>
{% endif %}
{% for item in deps%}
<div>
    <h5>Action #{{item.id}}</h5>
    <div>
        <table border="1" width="100%">
           <tr>
               <td width="35%">Title of department</td>
               <td width="20%">Chief</td>
               <td width="20%">Members</td>
               <td width="25%">Department Email</td>
           </tr>
            <tr>
               <td>{{item.title}}</td>
               <td>{{item.user.surname}} {{item.user.name}}</td>
               <td>{{item.members}}</td>
               <td>{{item.email}}</td>
           </tr>
        </table>
    </div>
    {% if current_user.is_authenticated and (current_user.id == item.creator or current_user.id == 1) %}
        <div>
            <a href="/add_dep/{{ item.id }}" class="btn btn-warning">Edit</a>
            <a href="/dep_delete/{{ item.id }}" class="btn btn-danger">Delete</a>
        </div>
    {% endif %}
</div>
{% endfor %}
{% endblock %}